<div class="alert alert-info alert-dismissible fade show" id="announcementDiv" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Announcement: </strong><span id="announcement"></span>
</div>

{{#each blogs}}
  <div class="card mb-2">
    <div class="card-block">
      <h4 class="card-title">{{title}}</h4>
      <p class="card-text text-truncate">{{stripTags content}}</p>
      <a href="/blogs/show/{{id}}" class="btn btn-outline-primary">Read More</a>
    </div>
  </div>
{{else}}
  <p>No blogs listed.</p>
{{/each}}
