<div class="card">
  <div class="card-block">
    <h3 class="card-title text-center">{{blog.title}}</h3>
    <br>
    <p class="card-text">{{{blog.content}}}</p>
  </div>
</div>
<br>
<a class="btn btn-lg btn-outline-warning" href="/blogs/edit/{{blog._id}}" role="button">Edit</a>
<a class="btn btn-lg btn-outline-danger" href="#" role="button">Delete</a>
