<div class="card">
  <div class="card-block">
    <h3>New announcement</h3>
    <br>
    <form action="/announcements" method="post">
      <div class="form-group">
        <label for="announcement">Announcement:</label>
        <textarea class="form-control"
        name="announcement"></textarea>
      </div>
      <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>
  </div>
</div>
