<div class="jumbotron text-center">
  <h1 class="display-3">Welcome</h1>
  <p class="lead">Record your personal life stories here</p>
  <a href="/blogs/add" class="btn btn-outline-success" role="button">Add Blog Post</a>
</div>
