<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <img class="card-img-top logo" src="/img/logo.png" alt="logo">
      <div class="card-block">
        <h2 class="text-center">Account Login</h3>
        <form action="/users/login" method="post">
          <div class="form-group">
            <label for="email">Email:</label>
            <input class="form-control" type="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control" type="password" name="password" required>
          </div>
          <button class="btn btn-lg btn-block btn-outline-primary" type="submit">Submit</button>
          <a class="btn btn-lg btn-block btn-outline-warning mt-2"
          href="/users/reset" role="button">Forget Password</a>
        </form>
      </div>
    </div>
  </div>
</div>
