<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <img class="card-img-top logo" src="/img/logo.png" alt="logo">
      <div class="card-block">
        <h2 class="text-center">Password Reset</h3>
        <form action="/users/reset" method="post">
          <div class="form-group">
            <label for="email">Your Email:</label>
            <input class="form-control" type="email" name="email" required>
          </div>
          <button class="btn btn-lg btn-block btn-outline-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
